.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.card{
  box-shadow: 2px 2px rgb(153, 143, 143);
  border-radius: 5px;
  width: 200px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: #344c3d;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name-rating{
  height: 90%;
}
.movie-image{
  width: 93%;
  height: auto;
  display: flex;
  justify-self: center;
  /* margin-top: 10px; */
}
.movie-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 180px; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.search{
  display: flex;
  justify-content: center;
}

.modal-content {
   background-color: #344c3d;
   margin: auto; 
   padding: 20px;
   border-radius: 20px;
   box-shadow: #f8f8f8;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   width: 60%; /* Could be more or less, depending on screen size */ 
   color: white;
   overflow-y: auto;
   
}
footer{
  background-color: #344c3d;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.modal{
   position: fixed; 
   left: 0;
   top: 0;
   z-index: 1; /* Sit on top */
   /* display: flex; */
   justify-self: center;
   align-items: center;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  }
.header{
  display: flex;
  justify-content: space-around;
}
.header-container{
  background-color: #344c3d;
  margin-top: 0px;
  border-top: 0px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.header-title{
  margin-top: 0px;
  font-size: 50px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.like{
  color:red ;
}

.add-to-watched{
  background-color: #282c34;
  /* margin-left: 15px; */
  max-width: 100%;
  
}
.trailer{
  width: 500px;
  height: 300px;
  /* width="500px";
  height="300px"; */
}


@media (max-width: 600px) {
  .movie-list{
    justify-content: center;
  }
  .trailer{
  width: 200px;
  height: 100px;
  
}
.modal-content{
  height: 90%;
}
  .card {
    width: 100%;
  }
  /* .movie-image{max-width: 100%;} */
  .movie-image{
    justify-self: center ;
    /* width: 90px; */
  }
  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
